@page
@using Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "Shared/_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HSejlklub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSejlklub.styles.css" asp-append-version="true" />
</head>

<h2>Medlemsliste</h2>

<table class="medlems-tabel">
    <thead>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Email</th>
        <th>Aktiv</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var medlem in Models.Medlem)
    {
        <tr>
            <td>@medlem.Fornavn</td>
            <td>@medlem.Efternavn</td>
            <td>@medlem.Email</td>
            <td>@(medlem.ErAktiv ?"Ja" : "Nej")</td>
        </tr>
    }
    </tbody>
</table>


